# dependencies
numpy==1.22.2
torch==1.10.2
tqdm==4.62.3
scikit-learn==1.0.2
scipy==1.8.0
albumentations==1.1.0
torchinfo==1.6.3
pytorch-lightning==1.5.10
matplotlib==3.5.1
pandas==1.4.1
napari[all]==0.4.14
jupyterlab==3.2.9
ipywidgets==7.6.5
# neptune-client==0.14.3
# neptune-contrib==0.28.1
