# dependencies
numpy==1.24.1
torch==1.13.1
tqdm==4.64.1
scikit-learn==1.2.1
scikit-image==0.19.3
scipy==1.10.0
albumentations==1.3.0
torchinfo==1.7.1
pytorch-lightning==1.9.0
matplotlib==3.6.3
pandas==1.5.3
napari[all]==0.4.14
jupyterlab==3.6.0
ipywidgets==8.0.4
# neptune-client==0.14.3
# neptune-contrib==0.28.1
